name: test

on:
  push:
    branches: [master]

  pull_request:

permissions:
  contents: read

jobs:
  test_linux:
    name: "test on linux"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python_version }}"
          cache: "pip"
      - run: script/setup --dev
      - run: script/lint
      - run: script/test
